* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: white;
}
ul {
	list-style: none;
}

/* header styles */
header {
	height: 250px;
	background-color: lightblue;
}

/* section styles */
